.hidden {
  display: none;
}

.error {
  color: red;
}

#jsonForm {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2em;
}

#jsonEntry {
  width: 100%;
  height: 150px;
  font-family: monospace;
  resize: vertical;
}
